UTF-8 URI support

As per [RFC3986, Section 2.5](https://www.rfc-editor.org/rfc/rfc3986.html#section-2.5), pecent-encoding works on UTF-8 characters (among other things).

Currently, the parsing supports percent-encoding for segments (origin-form URI), but it only supports ASCII-US character set.

We need a UTF-8 decoder that will take care of URI with Unicode characters in it - NGINX supports such names.

Apparently implementing precent-encoding already takes care of this automatically